<!DOCTYPE html "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://saberhag3n.github.io/My-Personal-Vudu-Movie-Library/index.dtd"

<!ELEMENT LINK - O EMPTY               -- a media-independent link -->
<!ATTLIST LINK
  %attrs;                              -- %coreattrs, %i18n, %events --
  charset     %Charset;      #IMPLIED  -- "utf-8" --
  href        %URI;          #IMPLIED  -- URI for linked resource --
  hreflang    %LanguageCode; #IMPLIED  -- "en" --
  type        %ContentType;  #IMPLIED  -- advisory content type --
  rel         %LinkTypes;    #IMPLIED  -- forward link types --
  rev         %LinkTypes;    #IMPLIED  -- reverse link types --
  media       %MediaDesc;    #IMPLIED  -- for rendering on these media --

<HEAD>
<TITLE>My-Personal-vudu-Movie-Library</TITLE>
<LINK title="Login"
      type="text/html"
      rel="alternate"
      hreflang="en" 
      href="http://saberhag3n.github.io/My-Personal-Vudu-Movie-Library/login.html">
<LINK title="Thumbs"
      type="text/html"
      rel="alternate"
      hreflang="en" 
      href="http://saberhag3n.github.io/My-Personal-Vudu-Movie-Library/thumbs.html">
<LINK title="Titles"
      type="text/html"
      rel="alternate"
      charset="ISO-8859-6"
      hreflang="en" 
      href="http://saberhag3n.github.io/My-Personal-Vudu-Movie-Library/titles.html">
<LINK lang="en" title="Export"
      type="text/html"
      rel="alternate"
      hreflang="en"
      href="http://saberhag3n.github.io/My-Personal-Vudu-Movie-Library/export.html">
</HEAD>