<div class="columns">
  
  <table>
    <thead>
      <tr>
        <th width="8%">id</th>
        <!-- ngIf: orderProp == 'studio.name' -->
        <th>Title</th>
        <th width="8%">Year</th>
        <!-- <th width="8%">desription</th> -->
        <th width="8%">MPAA Rating</th>
        <!-- ngIf: orderProp == 'posterUrl' -->
        <th width="8%">Tomato</th>
        <th width="8%">Video Quality</th>
        <!-- <th width="8%">Type</th> -->
        <th width="8%">UV?</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="title in filtered.titles = (titles | filter:{title: query} | orderBy:orderProp)">
        <td class="center">
          <a class="tiny button secondary expand radius" ng-click="vuduLink(title.contentId)">{{title.contentId}}</a>
        </td>
        <td ng-if="orderProp == 'studio.name'">{{title.studio.name}}</td>
        <td>{{title.title}}<br />
        </td>
        <td>{{title.releaseYear}}</td>
        <!-- <td>{{title.bestAvailVideoQuality | uppercase}}</td> -->
        <td ng-if="orderProp == 'mpaaRating'">{{title.mpaaRating | uppercase}}</td>
        <td class="center">{{title.tomatoMeter}}</td>
        <!-- <td>{{title.type}}</td> -->
        <td class="uv center" ng-class="{'is-uv': title.isUV}">{{title.isUV | conditional:'Yes':'No'}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
