<div class="row filter-row">
  <div class="medium-4 columns">
    
    <div class="row collapse">
      <div class="small-3 medium-4 columns">
        <span class="prefix" ng-if="!query.length">{{filtered.titles.length && filtered.titles.length != totalCount | conditional:filtered.titles.length + ' of '}}{{totalCount}}</span>
        <a class="button active prefix" ng-if="query.length">{{filtered.titles.length}} of {{totalCount}}</a>
      </div>
      <div class="small-9 medium-8 columns">
        <input type="text" placeholder="Filter" ng-model="query" clear-with-esc>
      </div>
    </div>
    
    <!-- <input type="text" placeholder="Filter" ng-model="query">
    <div class="count">
      <span class="secondary round label" ng-class="{secondary: !query.length}">{{filtered.titles.length && filtered.titles.length != totalCount | conditional:filtered.titles.length + ' of '}}{{totalCount}}</span>
    </div> -->
  </div>