<div class="row filter-row">
  <div class="medium-4 columns">
    
    <div class="row collapse">
      <div class="small-3 medium-4 columns">
        <span class="prefix" ng-if="!query.length">{{filtered.titles.length && filtered.titles.length != totalCount | conditional:filtered.titles.length + ' of '}}{{totalCount}}</span>
        <a class="button active prefix" ng-if="query.length">{{filtered.titles.length}} of {{totalCount}}</a>
      </div>
      <div class="small-9 medium-8 columns">
        <input type="text" placeholder="Filter" ng-model="query" clear-with-esc>
      </div>
    </div>
    
    <!-- <input type="text" placeholder="Filter" ng-model="query">
    <div class="count">
      <span class="secondary round label" ng-class="{secondary: !query.length}">{{filtered.titles.length && filtered.titles.length != totalCount | conditional:filtered.titles.length + ' of '}}{{totalCount}}</span>
    </div> -->
  </div>
  <div class="medium-4 columns">
    <div class="button-bar">
      <ul class="layout-button-group button-group radius even-3">
        <li><button type="button" class="tiny button" ng-model="displayAs" btn-radio="'thumbs'"><i class="fa fa-th fa-lg"></i><!-- thumbs --></button></li>
        <li><button type="button" class="tiny button" ng-model="displayAs" btn-radio="'list'"><i class="fa fa-list fa-lg"></i><!-- list --></button></li>
        <li><button type="button" class="tiny button" ng-model="displayAs" btn-radio="'export'"><i class="fa fa-download fa-lg"></i><!-- csv --></button></li>
      </ul>
    </div>
  </div>
  <div class="medium-4 columns">
    <select ng-model="orderProp">
      <option value="">Date Acquired</option>
      <option value="titleSort">Alphabetical</option>
      <option value="mpaaRating">MPAA</option>
      <option value="-releaseTime">Release Date</option>
      <option value="studio.name">Studio</option>
      <option value="-tomatoMeter">Tomato Rating</option>
      <option value="-isUV">UltraVioletness</option>
      <!-- <option value="type">type</option> -->
    </select>
  </div>
</div>

<div class="row content-row" ng-include="displayAs == 'thumbs' && 'partials/titles-view-thumbs.html' || displayAs == 'list' && 'partials/titles-view-list.html' || 'partials/titles-view-export.html'"></div>
