<!DOCTYPE html "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://saberhag3n.github.io/My-Personal-Vudu-Movie-Library/TR/1999/REC-html401-19991224/index.html"
<html class="no-js" lang="en" ng-app="app">
  <head>
    <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}
     </style>
        <TITLE>http://saberhag3n.github.io/My-Personal-Vudu-Movie-Library/</TITLE>
        <LINK rel="Index" href="../index.html">
        <LINK rel="Start" href="login.html"
        <LINK rel="Next"  href="titles.html">
        <LINK rel="Prev"  href="thumbs.html">
        <LINK rel="Csv"   href="export.html"
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My-Personal-VUDU-Movie-Library</title>
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/foundation.min.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="css/app.css" type="text/css" />
        <script src="js/vendor/modernizr.js"></script>
    </head>

<div class="columns">
	<div class="row">
		<div class="small-12 medium-6 medium-offset-3 columns">
			<a class="success button radius expand" target="_blank" download="vudu-collection.csv" ng-href="{{ filtered.titles = (titles | filter:{title: query} | orderBy:orderProp) | toExport | toCsv | toDownload }}">Download CSV</a>
		</div>
	</div>
	
	<!-- <textarea style="width: 100%; height: 5rem;">{{ filtered.titles = (titles | filter:{title: query} | orderBy:orderProp) | toExport }}</textarea> -->
	<textarea style="width: 100%; height: 25rem;">{{ filtered.titles = (titles | filter:{title: query} | orderBy:orderProp) | toExport | toCsv }}</textarea>
	
</div>